# Compiled class files and bin folder
*.class
bin/

# Ignore gradle
.gradle
build

# Package Files
*.jar
!gradle/wrapper/gradle-wrapper.jar
!OOP22-geo-surv-all.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore ide files
.idea
.vscode
.settings

# Ignore texedit files
# report/*.aux
# report/*.log
# report/*.out
# report/*.gz
# report/*.toc
# report/*.pdf
# Allow all report dir at the moment
!report/
#!report/*.tex
#!report/img/*
